.calculator {
  margin: 0 auto;
  background-color: rgb(228, 228, 228);
  border-radius: 30px;
}

.calculator-body {
  height: 70%;
  display: flex;
  flex-direction: column;
}

.calculator-body-function {
  display: flex;
  justify-content: flex-start;
}

.calculator-body-numbers {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.calculator-container-body {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.calculator-body-operators {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 280px) {
  .calculator {
    width: 17rem;
    height: 40rem;
  }
  .calculator-body {
    margin-top: 2rem;
  }
  .calculator-body-function {
    gap: 1rem;
    margin: 0 1rem;
  }
  .calculator-body-numbers {
    gap: 1rem;
    width: 70%;
  }
  .calculator-body-operators {
    gap: 1rem;
  }
}

@media screen and (min-width: 336px) {
  .calculator {
    height: 30rem;
  }
}

@media screen and (min-width: 411px) {
  .calculator {
    width: 24rem;
    height: 40rem;
  }
  .calculator-body-function {
    gap: 1.6rem;
    margin: 0 1.6rem;
  }
  .calculator-body-numbers {
    gap: 1.6rem;
  }
  .calculator-body-operators {
    gap: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .calculator {
    width: 30rem;
    height: 50rem;
  }
  .calculator-body-function {
    gap: 2rem;
    margin: 0 2rem;
  }
  .calculator-body-numbers {
    gap: 2rem;
  }
  .calculator-body-operators {
    gap: 2rem;
  }
}
